* {
  box-sizing: border-box;
}
.jevelin-logo {
  height: 20px;
  width: 80px;
  margin-left: 10px;
}
.nav-bg {
  background-color: #8d8d8d;
  padding: 15px;
}
.cart-icon {
  color: gray;
  font-size: 16px;
  margin-top: -4px;
}
.ham {
  color: black;
  
  margin-left: 15px;
  margin-right: 10px;
 
}


.ant-badge .ant-badge-count {
  margin-top: 10px;
  background-color: #47e5c9;
}
.nav-menus {
  color: #242121;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Roboto';
}
.jevelin-logo{
  height: 30px;
  width: 100px;
}